:root {
    --green: hsl(68, 83%, 38%);
    --pink: #d1c0ad;
    --dark: #3b322d ;
    --light: #d3bda3;
}

@font-face {
    font-family: "Content";
    src: url("../fonts/JANC.ttf");
}

@font-face {
    font-family: "IMfeEN";
    src: url("../fonts/IMFeENrm29C.otf");
}

@font-face {
    font-family: "IMfeENit";
    src: url("../fonts/IMFeENit29C.otf");
}

body {
    background-color: #000000;
    background-image: url('../images/Demon.png');
    background-attachment: fixed;
    background-size: contain;
    backdrop-filter: brightness(75%);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 90%;
    min-height: 100vh;
    
}

div#body {
    background-image: url('../images/scroll2.avif');
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: brightness(50%);
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    padding: 12px 40px 12px 40px;
    width: 90%;
    max-width: 780px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

div#header {
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: #581010;
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: #581010;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
}

div#footer {
    color: #581010;
    font-family: "IMFeEN";
    font-size: 12px;
    margin-top: auto;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

h1 {
    color: #581010;
    font-family: "IMFeEN";
    font-size: 28px;
    padding-top: 1em;
}

h2 {
    color: #581010;
    font-family: "IMFeEN";
    font-size: 20px;
    padding-top: 1em;
    text-decoration: none;
}

h3 {
    color: #581010;
    font-family: "IMFeEN";
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

h4 {
    color: #ffffff;
    font-family: "IMFeEN";
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}

a {
    color: #291058;
    font-family: "Content";
    text-decoration: none;
    padding: 1px;
    border: 1px solid transparent;
}

a:hover {
    color: #291058;
}

a:active {
    color: #ffffff;
}

li {
    color: #581010;
    font-family: "IMFeEN";
}

p {
    color: #581010;
    font-family: "IMfeENit";
    font-size: 16px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
