:root {
    --green: hsl(68, 83%, 38%);
    --pink: #d1c0ad;
    --dark: #3b322d ;
    --light: #d3bda3;
}

@font-face {
    font-family: "Content";
    src: url("../fonts/JANC.ttf");
}

@font-face {
    font-family: "IMfeEN";
    src: url("../fonts/IMFeENrm29C.otf");
}

@font-face {
    font-family: "IMfeENit";
    src: url("../fonts/IMFeENit29C.otf");
}

@font-face {
    font-family: "3270";
    src: url("../fonts/3270-Regular.otf")
}

@font-face {
    font-family: "TLCT";
    src: url("../fonts/TexturaLiberaC-Thin.otf")
}


@font-face {
    font-family: "TLCB";
    src: url("../fonts/TexturaLiberaX-Black.otf")
}

@font-face {
    font-family: "GGR";
    src: url("../fonts/GrenzeGotisch-Regular.woff2")
}

body {
    background-image: url('../images/stars_pingpong.gif');
    background-attachment: fixed;
    background-size:auto;
    background-repeat: repeat;
    backdrop-filter: brightness(125%);

    margin: 0;
    display: flex;
    flex-direction: column;
    height: 90%;
    min-height: 100vh;
    
}

div#body {
    /*
    background-image: url('../images/stars_pingpong.gif');
    background-attachment: fixed;
    background-size:auto;
    background-repeat: repeat;
    backdrop-filter: brightness(50%);
    */
    color: black;
    font-size: 1rem;
    margin: 0px auto 0px auto;
    padding: 12px 40px 12px 40px;
    width: 100%;
    max-width: 1600px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

div#header {
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: #cfccda;
    float: left;
    font-size: 1.5rem;
    /*font-weight: bold;*/
    text-decoration: none;
    font-family: "3270";
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: #cfccda;
    font-family: "3270";
    font-size: 1.25rem;
    /*font-weight: bold;*/
    margin-left: 12px;
    text-decoration: none;
}

div#footer {
    color: #9070db;
    font-family: "3270";
    font-size: 0.75rem;
    margin-top: auto;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

h1 {
    color: #581010;
    font-family: "TLCB";
    font-size: 1.75rem;
    padding-top: 1em;
}

h2 {
    color: #cfccda;
    font-family: "3270";
    font-size: 1.25rem;
    padding-top: 1em;
    text-decoration: none;
    text-align: center;
}

h3 {
    color: #cfccda;
    font-family: "3270";
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}

h4 {
    color: #ffffff;
    font-family: "IMFeEN";
    font-size: 0.75rem;
    text-decoration: none;
    text-align: center;
}

a {
    color: #cfccda;
    font-family: "3270";
    text-decoration: none;
    padding: 1px;
    border: 1px solid transparent;
}

a:hover {
    color: #c53672;
}

a:active {
    color: #ffffff;
}

li {
    color: #9070db;
    font-family: "3270";
    list-style-position: inside;
    text-align: center;
}

p {
    color: #9070db;
    font-family: "3270";
    font-size: 1rem;
    text-align: center;
}

div.info {
    color: #555;
    font-size: 0.875rem;
    font-style: italic;
}

.highlight {
    background-color: #000;
    box-decoration-break: clone;
    padding: 0.24em 0.3em;
}

::selection {
    background: #cfccda;
}